.row
  .col-xl-3.col-md-6.mb-4
    .card.border-left-primary.shadow.h-100.py-2
      .card-body
        .row.no-gutters.align-items-center
          .col.mr-2
            .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1 Active User
            .h5.mb-0.font-weight-bold.text-gray-800 203
          .col-auto
            %i.fas.fa-user.fa-2x.text-gray-300
  .col-xl-3.col-md-6.mb-4
    .card.border-left-success.shadow.h-100.py-2
      .card-body
        .row.no-gutters.align-items-center
          .col.mr-2
            .text-xs.font-weight-bold.text-success.text-uppercase.mb-1 Total User
            .h5.mb-0.font-weight-bold.text-gray-800
              = @user_count
          .col-auto
            %i.fas.fa-users.fa-2x.text-gray-300
  .col-xl-3.col-md-6.mb-4
    .card.border-left-info.shadow.h-100.py-2
      .card-body
        .row.no-gutters.align-items-center
          .col.mr-2
            .text-xs.font-weight-bold.text-info.text-uppercase.mb-1 Average Using Time
            .row.no-gutters.align-items-center
              .col-auto
                .h5.mb-0.mr-3.font-weight-bold.text-gray-800 3 minutes
          .col-auto
            %i.fas.fa-clock.fa-2x.text-gray-300
  .col-xl-3.col-md-6.mb-4
    .card.border-left-warning.shadow.h-100.py-2
      .card-body
        .row.no-gutters.align-items-center
          .col.mr-2
            .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1 Most Request Services
            .h5.mb-0.font-weight-bold.text-gray-800 Certify Document
          .col-auto
            %i.fas.fa-file-alt.fa-2x.text-gray-300
