.row
  .col-xl-6.col-lg-5
    .card.shadow.mb-4
      .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
        .h5.m-0.font-weight-bold.text-primary Total User Visit (Each Function)
      .card-body
        .chart-pie.pt-4.pb-2
          -# %canvas#total-visitors
          = pie_chart StepValue.joins(:variable_value).where("variable_values.raw_value in (?)", ['owso_info', 'tracking', 'feedback']).group(:raw_value).count, donut: true, legend: false, library: { cutoutPercentage: 80 }

  .col-xl-6.col-lg-5
    .card.shadow.mb-4
      .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
        .h5.m-0.font-weight-bold.text-primary Total User Feedbacks (Overall OWSO Service Delivery)
      .card-body
        .chart-pie.pt-4.pb-2
          -# %canvas#total-feedbacks
          = pie_chart StepValue.joins(variable_value: :variable).where("variables.report_enabled=?", true).group("variable_values.status").count, donut: true, legend: false, library: { cutoutPercentage: 80 }

  .col-xl-6.col-lg-5
    .card.shadow.mb-4
      .card-header.py-3
        .h5.m-0.font-weight-bold.text-primary Number of Ticket(Successfully Tracked)
      .card-body
        .chart-bar
          -# %canvas#total-tracked-tickets
          -# = column_chart [{ name: 'tracking', data: { complete: 123, incomplete: 232 } }]
          = column_chart [{name: nil, data: Track.joins(:ticket).where("tickets.status in (?)", Ticket.statuses.fetch_values(:incomplete, :completed)).group(:status).count }]
          -# = column_chart Track.joins(:ticket).where("tickets.status in (?)", [0, 2]).group(:status).count, pointSize: 12
