.row.my-4
  .col-lg-6
    %ul.list-inline.platform-list
      %li.list-inline-item{class: get_css_active_class('dashboard')}
        = link_to 'Both', dashboard_path, class: 'text-decoration-none'
      %li.list-inline-item{class: get_css_active_class('dashboard/ivr_dashboard')}
        = link_to 'IVR', dashboard_ivr_path, class: 'text-decoration-none'
      %li.list-inline-item{class: get_css_active_class('dashboard/chatbot_dashboard')}
        = link_to 'Chatbot', dashboard_chatbot_path, class: 'text-decoration-none'

  .col-lg-6
    .d-flex
      .province.d-flex.align-items-center
        .province__label
          %span.mr-2 Province

        = select_tag 'province', options_for_select( Pumi::Province.all.pluck('name_en', 'id')), class: 'province__select-option'

      .date-filter.d-flex.align-items-center
        .date-filter__label
          %span.mr-2 Show
        .date-filter__choose-option
          .input-group
            %input.datepicker_date
            .input-group-append
              .input-group-text
                %i.fas.fa-calendar-week.fa-sm
