#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  = link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do
    .sidebar-brand-text1.mx-3{ style: "font-size: 1em;"}
      Public OW4C

  %hr.sidebar-divider.my-0
  %ul.list-unstyled.list-items
    %li.nav-item{ class: css_active_class('dashboard') }
      = link_to dashboard_path, class: "nav-link" do
        %i.fas.fa-fw.fa-tachometer-alt
        %span= t('sidebar.dashboard')

  .text-center.d-none.d-md-inline.mb-auto
    %button#sidebarToggle.rounded-circle.border-0

  .sidebar-footer
    = t("app_version", version: ENV['APP_VERSION'])
