%h1 Provincial Usages

-# compare unique
-# expand other locations

%table.table
  %thead
    %tr
      %th{:scope => "col"} No.
      %th{:scope => "col"} Province/City
      %th{:scope => "col"} Total Unique Users
      %th{:scope => "col"} Total Visit
      %th{:scope => "col"} Total Service Delivered
  %tbody
    %tr
      %th{:scope => "row"} 1
      %td Mark
      %td Otto
      %td @mdo
      %td @mdo
    %tr
      %th{:scope => "row"} 2
      %td Jacob
      %td Thornton
      %td @mdo
      %td @fat
    %tr
      %th{:scope => "row"} 3
      %td Larry
      %td the Bird
      %td @mdo
      %td @twitter