- name = t("dashboard.total_user_gender")
- collection = @query.users_visited_by_each_genders

= render(ChartComponent.new(name: name, collection: collection)) do |c|
  - c.with(:config) { open_config_modal("#chooseCriteria") }
  - c.with(:subheader) { subheader }
  - c.with(:body) { content_tag(:canvas, nil, id: "total_user_gender") }

= render(DictionaryModalComponent.new(url: set_criteria_dictionaries_path, modal_id: 'chooseCriteria')) do |component|
  - component.with(:body) do
    = render partial: 'dashboard/variable_with_criteria', collection: @variables, as: :variable
