.col-xl-6.col-lg-5
  .card.shadow.mb-4
    .card-header.py-3
      .h5.m-0.font-weight-bold.text-primary
        = t("dashboard.number_of_tracked_ticket")
    .card-body
      = column_chart @query.number_of_tracking_tickets, colors: %w(#1cc88a #ffbc00 #f63e3e), library: { scales: { xAxes: [{ maxBarThickness: 50 }] } }, messages: { empty: t("no_data") }