.col-xl-6.col-lg-5
  .card.shadow.mb-4
    .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
      .h5.m-0.font-weight-bold.text-primary
        = t("dashboard.number_of_ticket_tracking")

      - if @query.number_of_tracking_tickets.present?
        = link_to "#", class: "chart-dl", "data-target": "#total_ticket_tracking" do
          %i.fa.fa-download
    .card-body#total_ticket_tracking
      - if @query.number_of_tracking_tickets.present?
        %span.invisible=t("dashboard.number_of_ticket_tracking")

      = column_chart @query.number_of_tracking_tickets, height: "300px", library: { scales: { xAxes: [{ maxBarThickness: 50 }] } }, messages: { empty: t("no_data") }