- downloadable = @query.total_users_visit_each_functions.present?
= render_component( ChartComponent.new(name: title, downloadable: downloadable) ) do |c|
  - c.with(:config) { open_config_modal("#userVisitModal") }
  - c.with(:body) { content_tag(:canvas, nil, id: id) }
  - c.with(:hint) { t("hint.total_user_by_category") }

-# = render 'dashboard/choose_dictionary_modal', url: set_user_visit_dictionaries_path, checked_method: :user_visit?, modal_id: 'userVisitModal'
