- downloadable = @query.total_users_feedback.present?
= render(ChartComponent.new(name: title, downloadable: downloadable)) do |c|
  - c.with(:body) { content_tag(:canvas, nil, id: id, class: "total_user_feedback") }
  - c.with(:hint) { t("hint.total_user_feedback") }
