- Variable.gender.values.each do |gender|
  - if gender.plain_values.include?(session.gender)
    %li.list-inline-item
      %small.text-gray-800{ data: { toggle: "tooltip"}, title: gender.mapping_value }
        = fa_icon(session.gender)
        = ": "
        = session.gender_count
    - break
