.container-fluid.nobreak
  .row
    .col
      .card.mb-4{ role: "figure", style: "width: 992px; border: 1px solid #dfdfdf; margin: 0 auto;" }
        .card-header.position-relative
          .d-flex.flex-row.align-items-center.justify-content-between
            .h5.m-0.font-weight-bold.d-flex.justify-content-center.align-items-center
              %span.chart-name.text-primary.d-inline-block.mr-1.chart-head.text-capitalize
                = I18n.t("dashboard.total_user_visit")
        .card-body
          .chart-wrapper.pt-4.d-flex.justify-content-around.align-items-center.position-relative{ style: "width: inherit; "}
            %canvas#chart_feedback_by_sub_category