# Rails configuration
BASE_URL=http://localhost:3000
DB_HOST=db
DB_USER=postgres
DB_PWD=
RAILS_MAX_THREADS=5
REDIS_URL=redis://redis:6379
NUMBER_OF_SYNC_LOG=5
APP_VERSION=0.0.1

# sentry.io
SENTRY_DSN=

# CodeClimate(code coverage) configuration
CC_TEST_REPORTER_ID=7ae1359b52f2b8ff66704799670aadd3be2a22c9699fde4a675e432bb34fe9e8

# Guisso configuration
GUISSO_CLIENT_ID= --- REGISTER APP AT login.instedd.org ---
GUISSO_CLIENT_SECRET= --- REGISTER APP AT login.instedd.org ---

# Verboice configuration
VERBOICE_USER=verboice_user
VERBOICE_PWD=verboice_pwd

# Facebook configuration
FB_PAGE_TOKEN=token
ENABLE_FB_NOTIFY=disable
FB_MESSAGE_QUOTA_IN_DAY=7

# Telegram configuration
TELEGRAM_CALLBACK_URL=https://ngrok.io/telegram

# Shell with unicode support
LANG=C.UTF-8
