# Rails configuration
DB_HOST=
DB_USER=
DB_PWD=
RAILS_MAX_THREADS=
REDIS_URL=
GUISSO_CLIENT_ID=
GUISSO_CLIENT_SECRET=
SENTRY_DSN=
TELEGRAM_CALLBACK_URL=https://ngrok.io/telegram
NUMBER_OF_SYNC_LOG=5

# Shell with unicode support
LANG=C.UTF-8
