# Rails configuration
BASE_URL=http://localhost:3000
DB_HOST=db
DB_USER=postgres
DB_PWD=
RAILS_MAX_THREADS=5
REDIS_URL=redis://redis:6379
SENTRY_DSN=

GUISSO_CLIENT_ID=
GUISSO_CLIENT_SECRET=

VERBOICE_USER=verboice_user
VERBOICE_PWD=verboice_pwd

# Facebook configuration
FB_PAGE_TOKEN=token
FB_NOTIFY_ENABLED=false
FB_MESSAGE_QUOTA_IN_DAY=7
FB_REACHABLE_DAY=1

# Telegram configuration
TELEGRAM_ENABLED=false
TELEGRAM_CALLBACK_URL=https://ngrok.io/telegram

MAX_CSV_DOWNLOAD_SIZE=10000
NUMBER_OF_SYNC_LOG=5

# Shell with unicode support
LANG=C.UTF-8

ENDPOINT_URL=

# https://developers.google.com/recaptcha/docs/invisible
# https://github.com/ambethia/recaptcha
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
