# Rails configuration
BASE_URL=http://localhost:3000
DB_HOST=db
DB_USER=postgres
DB_PWD=
RAILS_MAX_THREADS=5
REDIS_URL=redis://redis:6379
SENTRY_DSN=

GUISSO_CLIENT_ID=
GUISSO_CLIENT_SECRET=

VERBOICE_USER=verboice_user
VERBOICE_PWD=verboice_pwd

FB_PAGE_TOKEN=token
FB_NOTIFY_ENABLED=false
TELEGRAM_ENABLED=false
MAX_CSV_DOWNLOAD_SIZE=10000

TELEGRAM_CALLBACK_URL=https://ngrok.io/telegram
NUMBER_OF_SYNC_LOG=5

# Shell with unicode support
LANG=C.UTF-8

ENDPOINT_URL=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
