%label.block-option--item.text-center{ data: { value: @value, toggle: "tooltip", title: @disabled ? helpers.t("dictionaries.used_by", name: @title) : "" }, class: [helpers.toggle_class_name('block-option--item-active', @checked), helpers.toggle_class_name('block-option--item-disabled', @disabled)] }
  = content
  %input.d-none{ type: @input_type, value: @value, name: @name, checked: @checked, disabled: @disabled }
