-# note: what is the most requested service for each owso office?

.card.shadow.mb-4{ role: "figure" }
  .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
    .h5.m-0.font-weight-bold.text-primary
      = t("welcomes.feedback_by_sub_categories")

    .tools
      - if @query.feedback_by_sub_category.present?
        = link_to "#", class: "chart-dl text-dark", "data-target": "#feedback_by_sub_category" do
          %i.fa.fa-download

  .card-body
    #feedback_by_sub_category.pt-4.d-flex.justify-content-around.align-items-center
      %canvas.w-75.chart_feedback_by_sub_category{ "data-id": label }
      %p.label.m-0
      -# = column_chart @query.feedback_by_sub_category, legend: true, xtitle: "owso: komrieng", library: { legend: { labels: { boxWidth: 10 } } }
