.card.shadow.mb-4{ role: "figure" }
  .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
    .h5.m-0.font-weight-bold.text-primary
      = t("welcomes.information_access_by", period: t("period.month"))

  .card-body
    #information_access_by_period.pt-4.d-flex.justify-content-around.align-items-center
      %canvas#chart_information_access_by_period
