.card.shadow.mb-4{ role: "figure" }
  .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
    .h5.m-0.font-weight-bold.text-primary
      = t("dashboard.most_requested_services")

    .tools
      - if @query.most_requested_services.present?
        = link_to "#", class: "chart-dl text-dark", "data-target": "#most_requested_services" do
          %i.fa.fa-download

  .card-body
    #most_requested_services.pt-4.d-flex.justify-content-around.align-items-center
      = column_chart @query.most_requested_services, legend: false, messages: { empty: t("no_data") }
