-# note: what is the most requested service for each owso office?

.card.shadow.mb-4
  .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
    .h5.m-0.font-weight-bold.text-primary
      = t("dashboard.number_access_by_main_services")

    .tools
      - if @query.number_access_by_main_services.present?
        = link_to "#", class: "chart-dl text-dark", "data-target": "#number_access_by_main_services" do
          %i.fa.fa-download

  .card-body
    #number_access_by_main_services.pt-4.d-flex.justify-content-around.align-items-center
      = scatter_chart @query.number_access_by_main_services, legend: false, messages: { empty: t("no_data") }
