-# note: what is the most requested service for each owso office?

.card.shadow.mb-4{ role: "figure" }
  .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
    .h5.m-0.font-weight-bold.text-primary
      = t("welcomes.overall_rating_by_owso")

    .tools
      - if @query.overall_rating_by_owso.present?
        = link_to "#", class: "chart-dl text-dark", "data-target": "#overall_rating_by_owso" do
          %i.fa.fa-download

  .card-body
    #overall_rating_by_owso.pt-4.d-flex.justify-content-around.align-items-center
      = column_chart @query.overall_rating_by_owso, legend: true, library: { legend: { labels: { boxWidth: 10 } } }
