.card.shadow.mb-4{ role: "figure" }
  .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
    .h5.m-0.font-weight-bold.text-primary
      = t("welcomes.overall_rating_by_owso")

  .card-body
    #overall_rating_by_owso.pt-4.d-flex.justify-content-around.align-items-center
      %canvas#chart_overall_rating_by_owso
