-# note: what is the most requested service for each owso office?

.card.shadow.mb-4{ role: "figure" }
  .card-header.py-3.d-flex.flex-row.align-items-center.justify-content-between
    .h5.m-0.font-weight-bold.text-primary
      = t("welcomes.ticket_tracking_by_gender")

    .tools
      - if @query.ticket_tracking_by_gender.present?
        = link_to "#", class: "chart-dl text-dark", "data-target": "#ticket_tracking_by_gender" do
          %i.fa.fa-download

  .card-body
    #ticket_tracking_by_gender.pt-4.d-flex.justify-content-around.align-items-center
      = pie_chart @query.ticket_tracking_by_gender, legend: true, messages: { empty: t("no_data") }, library: { legend: { labels: { boxWidth: 10 } } }
