- collection = @templates.select{ |temp| temp.status == status.to_s }

- if collection.length > 0
  %h5.text-header
    = t("templates.index.#{status.to_s}")

  .row.card-deck.mb-5{ id: status }
    = render partial: "template", collection: collection
