%h1 Templates
= link_to "New template", new_template_path, class: "btn btn-primary mb-3"

%h5 Incompletes
.row= render ::Template.incomplete

%h5 Completes
.row= render ::Template.completed

%h5 Invalids
.row= render ::Template.incorrect