= simple_form_for :q, method: :get, html: { class: "form" } do
  .date-filter.d-flex.align-items-center.mb-3.justify-content-end
    .date-filter__label
      %span.mr-2
        = t("dashboard.show")
    .date-filter__choose-option
      .input-group
        = render "shared/input_date_range"
