= render "shared/sb-admin/page_heading", title: "Home"

.card.shadow.mb-4
  .card-header.py-3
    %h6.m-0.font-weight-bold.text-primary All messages
  .card-body
    .row.my-4
      .col-lg-4
        .d-flex.align-items-center
          %span.mr-2 Search:
          %input.form-control.form-control-sm
    .table-responsive
      %table#dataTable.table.table-bordered{:cellspacing => "0", :width => "100%"}
        %thead
          %tr
            %th Session ID
            %th Type
            %th Main_Menu
            %th OWSO_option
            %th Other_option
            %th Feedback_overall
        %tbody
          %tr
            %td Hermione Butler
            %td Regional Director
            %td London
            %td 47
            %td 2011/03/21
            %td $356,250
          %tr
            %td Lael Greer
            %td Systems Administrator
            %td London
            %td 21
            %td 2009/02/27
            %td $103,500
          %tr
            %td Jonas Alexander
            %td Developer
            %td San Francisco
            %td 30
            %td 2010/07/14
            %td $86,500
          %tr
            %td Shad Decker
            %td Regional Director
            %td Edinburgh
            %td 51
            %td 2008/11/13
            %td $183,000
          %tr
            %td Michael Bruce
            %td Javascript Developer
            %td Singapore
            %td 29
            %td 2011/06/27
            %td $183,000
          %tr
            %td Donna Snider
            %td Customer Support
            %td New York
            %td 27
            %td 2011/01/25
            %td $112,000

!= render partial: 'shared/pagy/bootstrap_nav', locals: {pagy: @pagy}
