.d-sm-flex.align-items-center
  = render "shared/sb-admin/page_heading", title: @pdf_template.name
  .flex-grow-1
  = link_to edit_pdf_template_path(@pdf_template), class: "btn btn-primary m-0" do
    %i.fa.fa-fw.fa-plus
    = t("pdf_templates.edit")

.card.shadow.mb-4
  .card-body
    .ql-editor
      != @pdf_template.content
