%tr
  %td= dictionary.name
  %td
    - dictionary.roles.each do |role|
      = role_html(role.name).html_safe

  %td
    - if dictionary.report_enabled?
      %small Mark as Feedback
  %td
    - if dictionary.is_location?
      %small Mark as Location

  %td{ style: "padding: 10px 15px" }
    %ul.list-inline.m-0
      %li.list-inline-item
        = link_to edit_dictionary_path(dictionary), class: "btn-circle btn-edit btn-warning text-decoration-none" do
          %i.fas.fa-edit.fa-fw
