.btn-group.btn-group-sm.mb-3
  - Role.all.each do |role|
    - viewable = variable.roles.include?(role)
    %button.btn-role{ class: active_if(viewable), data: { role_id: role.id, variable_id: variable.id } }
      = image_tag "#{role.name}.png"
      = role.name.capitalize