.d-flex.align-items-center
  %form{ action: dictionaries_path, method: 'get' }
    .form-group.mb-0.d-flex.align-items-center
      %span.mr-2= "#{t('shared.search')}:"
      .input-group
        = text_field_tag(:q, params[:q], class: 'form-control site-filter', placeholder: t('dictionaries.index.search_placeholder'))

        %a#info.input-group-append
          .input-group-text
            %i.fas.fa-search
