%h3 Dictionary

%div
  %ul.dict-list
    - @variables.select('name').distinct.each do |v|
      %li.dict-item{ 'data-name': v.name}
        = link_to v.name, '#'

  .result-map
    - @variables.select('name').distinct.each do |v|
      %table.table.d-none{ class: "dict-item-#{v.name}" }
        %tr
          %th Value
          %th Text
        - @variables.each do |sub|
          - if sub.name == v.name
            %tr
              %td= sub.value
              %td= sub.text

.clearfix
