#article
  .container{ role: "article" }
    .row
      .col-12
        %p.text-intro.mb-3.text-center
          ច្រកចេញចូលតែមួយរបស់ទីភ្នាក់ងារសហរដ្ឋអាមេរិកសំរាប់ការអភិវឌ្ឍន៍អន្តរជាតិ (OW4C) គឺជាគំរោងដែលមានរយៈពេល ៣ ឆ្នាំ
          (ខែតុលាឆ្នាំ ២០១៩ ដល់ ខែកញ្ញា ឆ្នាំ ២០២២) ដែលប្រើបច្ចេកវិទ្យាដើម្បីផ្ដល់ជូន
          ពលរដ្ឋកម្ពុជានូវព័ត៌មានច្បាស់លាស់និងមានតម្លាភាពលើសេវាសាធារណៈ
          សម្រាប់ពួកគាត់ តាមរយៈការិយាល័យច្រកចេញចូលតែមួយរបស់រដ្ឋាភិបាល
          (ការិយាល័យច្រកចេញចូលតែមួយ) ។

    .row
      .col-12
        %p.text-intro.mb-3.text-center
          ទិន្នន័យនៅក្នុងផ្ទាំងព័ត៌មានសាធារណៈនេះត្រូវបានចាប់យកពីអ្នកប្រើប្រាស់ពិតប្រាកដ
          នៅក្នុងស្រុកសាកល្បងក្នុងខេត្តបាត់ដំបង។

    .row
      .col-12
        %h3.mb-5.mt-3.text-center.font-weight-bold
          សូមជ្រើសរើសតំបន់នៃទីតាំងទិន្នន័យដែលអ្នកចង់បង្ហាញ
