#article
  .container{ role: "article" }
    .row
      .col-12
        %p.text-intro.mb-3.text-center
          គម្រោង​ច្រកចេញចូលតែមួយសម្រាប់​ពលរដ្ឋ (OW4C) របស់ទីភ្នាក់ងារសហរដ្ឋអាមេរិកសម្រាប់ការអភិវឌ្ឍន៍អន្តរជាតិ USAID គឺជាគម្រោងដែលមានរយៈពេលបីឆ្នាំ (ចាប់ពីខែតុលា ឆ្នាំ ២០១៩ រហូតដល់ខែកញ្ញា ឆ្នាំ ២០២២) ដែលប្រើប្រាស់បច្ចេកវិទ្យា ដើម្បីផ្តល់ជូនដល់ប្រជាពលរដ្ឋខ្មែរនូវព័ត៌មានច្បាស់លាស់ ប្រកប​ដោយ​តម្លាភាពស្តីអំពីសេវាសាធារណៈដែល​ពួកគេអាចប្រើប្រាស់បានតាមរយៈ​ការិយាល័យសេវាច្រកចេញចូលតែមួយរបស់រដ្ឋាភិបាល (OWSO)។ ដើម្បីពង្រឹងអំណាចដល់ប្រជាពលរដ្ឋ និងធានាបាននូវគណនេយ្យភាព​សម្រាប់សេវាច្រកចេញចូលតែមួយ (OWSO), ប​ច្ចេកវិទ្យានៃគម្រោង OW4C ធ្វើការផ្តល់ជូននូវព័ត៌មាន​ឆាប់រហ័ស​​ទាន់ហេតុការណ៍ ដែលមានការពន្យល់អំពីការអនុវត្តដំណើរការផ្សេងៗសម្រាប់សេវាសំខាន់ៗ ក៏ដូចជាឯកសារតម្រូវឱ្យមាន សម្ភារៈ និងតម្លៃសេវាផ្សេងៗជាដើម។ បច្ចេកវិទ្យានេះក៏ផ្តល់នូវសុវត្ថិភាពដល់ប្រជាពលរដ្ឋ ដើម្បីបញ្ចេញមតិកែតម្រូវទៅលើគុណភាពនៃសេវាផ្សេងៗដែលពួកគេបានទទួលផងដែរ។
    
    .row
      .col-12
        .disclaimer.mb-5
          %p.text-center
            គេហទំព័រនេះអាចធ្វើទៅបានដោយការគាំទ្រពីប្រជាជនអាមេរិកតាមរយៈសហរដ្ឋអាមេរិក
            ទីភ្នាក់ងារសហរដ្ឋអាមេរិកសម្រាប់ការអភិវឌ្ឍន៍អន្តរជាតិ (USAID) ។
            ខ្លឹមសារនៃគេហទំព័រនេះគឺជាការទទួលខុសត្រូវតែមួយគត់របស់ក្រុមហ៊ុន Nikol Global Solutions, LLC
            ហើយមិនចាំបាច់ឆ្លុះបញ្ចាំងពីទស្សនៈរបស់ទីភ្នាក់ងារ (USAID) ឬ រដ្ឋាភិបាលសហរដ្ឋអាមេរិកទេ។