#article
  .container{ role: "article" }
    .row
      .col-12
        %p.text-intro.mb-3.text-center
          USAID’s One Window for Citizens (OW4C) is a three-year project
          (October 2019-September 2022) that uses technology to provide
          Cambodian citizens clear, transparent information on public services
          available to them through the government One Window Service Offices
          (OWSOs).

    .row
      .col-12
        %p.text-intro.mb-3.text-center
          The data within this public dashbard is captured from the actual user 
          interactions/usages in piloting districts in Battambang provinces.

    .row
      .col-12
        %h3.mb-5.mt-3.text-center.font-weight-bold
          Please select the area of data location you want to be shown
