#article
  .container{ role: "article" }
    .row
      .col-12
        %p.text-intro.mb-3.text-center
          USAID’s One Window for Citizens (OW4C) is a three-year project (October 2019-September 2022) that uses technology to provide Cambodian citizens clear, transparent information on public services available to them through the government of Cambodia’s One Window Service Offices (OWSOs). In order to empower citizens and ensure accountability for OWSO services, OW4C technology offers real-time information explaining the application processes for key services as well as the required documents, materials, and service fees. It also provides a safe space for citizens to voice their feedback on the quality of services received.

    .row
      .col-12
        .disclaimer.mb-5
          %p.text-center
            = render "welcomes/disclaimer"
