%footer
  .container
    .row
      .col-12
        %h6 &copy; 2020 ONE WINDOW FOR CITIZENS PROJECT ALL RIGHTS RESERVED.
        %p= render "welcomes/disclaimer"

        .separator

        .terms-privacy.text-center{ "data-turbolinks": "false" }
          = link_to t('welcomes.privacy_policy'), privacy_policy_path, class: 'text-footer-sm'
