%footer
  .container
    .row
      .col-12
        %h6= "&copy; #{year} INSTEDD ILAB SOUTHEAST ASIA. ALL RIGHTS RESERVED.".html_safe
        %p THE INFORMATION PROVIDED ON THIS WEBSITE IS NOT OFFICIAL U.S. GOVERNMENT INFORMATION AND DOES NOT REPRESENT THE VIEWS OR POSITIONS OF THE U.S. AGENCY FOR INTERNATIONAL DEVELOPMENT OR THE U.S. GOVERNMENT.