%input.start_date{ type: "hidden", name: "start_date", value: @start_date }
%input.end_date{ type: "hidden", name: "end_date", value: @end_date }
%input.datepicker_date{ tabindex: 6, name: "date_range", id: "date_range" }
.input-group-append
  .input-group-text
    %i.fas.fa-calendar-week.fa-sm