#popup.p-0.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "popupModal", :role => "dialog", :tabindex => "-1" }
  .modal-dialog.modal-dialog-centered.modal-xl{:role => "document"}
    .modal-content
      .modal-header
        %h5.modal-title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body{ "data-state": "prune" }
        = image_tag "pop-up-message.png", class: 'img-fluid', alt: "Welcome to OW4C's Public Dashboard", role: "img"
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button", role: "button", value: "canceled"}
          = t("shared.cancel")
