.sidebar-left
  - title = "ទិន្នន័យការិយាល័យច្រកចេញចូលតែមួយ"
  - image = image_url("fb-sample-share-photo.png")
  = social_share_button_tag title, url: root_url, image: image, "data-type": "photo"

  .visitor-counter.text-right
    %span.badge.badge-pill.badge-info{ data: { toggle: "tooltip" }, title: t("visitor_count") }
      %i.fa.fa-eye
      = Ahoy::Visit.count