.sidebar-left
  %span.share-icon
    = t("social_share_button.share_on")

  = social_share_button_tag t("meta_tags.site"), url: root_url, image: image_url("fb-sample-share-photo.png"), "data-type": "photo"

  .visitor-counter
    %span.badge.badge-pill.badge-info{ data: { toggle: "tooltip" }, title: t("visitor_count") }
      %i.fa.fa-eye
      = Ahoy::Visit.count
