- @query.district_codes_without_other.each do |district_id|
  = render( ChartComponent.new(name: t("welcomes.owso_feedback_trend")) ) do |c|
    - c.with(:body) { content_tag(:canvas, nil, id: "chart_feedback_by_sub_category_#{district_id}", class: "chart_feedback_by_sub_category", "data-id": district_id) }
