<h1>All contacts:</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Session id</th>
      <% Variable.pluck(:name).uniq.each do |header| %>
        <th scope="col"><%= header.titleize %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.content.session_id %></td>
        <% Variable.pluck(:name).uniq.each do |var| %>
          <td>
            <% message.steps.each do |step| %>
              <%= step.value if var == step.act %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>
