.tab-navigation.position-sticky.d-none
  .container
    %ul#menu.nav.nav-tabs.justify-content-end{:role => "tablist"}
      %li.nav-item.w-sm-25
        %a.h-100#summary-tab.nav-link.active{ tabindex: 8, "aria-controls" => "summary-tab", "aria-selected" => "true", "data-toggle" => "tab", :href => "#summary", :role => "tab"}
          = t("welcomes.summary")
      %li.nav-item.w-sm-25
        %a.h-100#access-information-tab.nav-link{tabindex: 9, "aria-controls" => "access-information-tab", "aria-selected" => "false", "data-toggle" => "tab", :href => "#access-information", :role => "tab"}
          = t("welcomes.access_info")
      %li.nav-item.w-sm-25
        %a.h-100#citizen-feedback-tab.nav-link{tabindex: 10, "aria-controls" => "citizen-feedback-tab", "aria-selected" => "false", "data-toggle" => "tab", :href => "#citizen-feedback", :role => "tab"}
          = t("welcomes.citizen_feedback")
