%div
  %table
    %tr
      %th mid
      %th progress
      %th -
    - @leads.each do |lead|
      %tr
        %td= lead.mid
        %td= lead.progress
        %td= link_to 'show', thread_path(lead)
