- raw_gender, mapping_gender, count, color = gender.flatten

%li
  %span.oval{ style: "background-color: #{color}" }
  %span.oval-label.word-wrap-normal{ style: "color: #{color}" }
    = mapping_gender
