html {
  height: 100%;
}

body {
  height: 100%;
  color: #212529;
  overflow: hidden;

  // override fonts from sb-admin template
  font-family: "Nunito", "Hanuman", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-hint {
  font-size: 0.8em;
  color: #808080;
}

#locale {
  padding: 0 10px;
}

.separator {
  width: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

// custom table
.table {
  margin-bottom: 0;
  color: #5a5c69;
}

.custom-table {
  color: #5a5c69;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &.table-bordered {
    border: 1px solid #e3e6f0;
  }

  .custom-row {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #e3e6f0;

    .custom-col {
      width: 20%;
      padding: 0.75rem;
      border-right: 1px solid #e3e6f0;
    }

    .custom-col:last-child {
      border-right: none;
    }
  }

  .custom-row.thead {
    border-top: none;
    border-bottom: 1px solid #e3e6f0;
  }
}

.card-subheader {
  font-size: 0.7em;
  line-height: 1em;
  display: block;
  bottom: 1px;
}

.sidebar-brand-text1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: normal;
}

.nowrap-space {
  white-space: nowrap;
}

.w-15 {
  width: 15% !important;
}

.break-all {
  word-break: break-all;
}

.icon-hint {
  font-size: 0.8em;
  vertical-align: super;
}
