.text-hint {
  font-size: 0.8em;
  color: #808080;
}

#locale {
  padding: 0 10px;
}

.separator {
  width: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
