// inline block options
$color-primary: #3f51b5;
$color-secondary: #b7b7b7;

.block-option {
  .block-option--item {
    position: relative;
    width: 110px;
    border: 1px solid $color-secondary;
    border-radius: 4px;
    padding: 10px;
    transition: all 0.1s ease-out;
    color: darken($color-secondary, 50);
  }

  .block-option--item.block-option--item-disabled {
    color: $color-secondary;
    border-color: lighten($color-secondary, 20);
  }

  .block-option--item:hover:not(.block-option--item-disabled) {
    border-color: $color-primary;
    background-color: lighten($color-secondary, 20);
    cursor: pointer;
  }

  .block-option--item-active {
    border-width: 3px;
    border-color: $color-primary;
    background-color: lighten($color-secondary, 20);
  }

  .block-option--label {
    line-height: 2em;
    font-size: 1em;
  }
}
