#quotas-index {
  .quota-explain {
    color: #333;
    font-size: 0.8em;
  }

  .formula {
    font-size: 15px;
    color: #5d5d5d;
  }

  .note {
    font-size: 17px;
    margin-top: 43px;
    margin-bottom: 10px;
    color: #545454;
    font-weight: bold;
  }

  .note-detail {
    font-size: 17px;
    color: #545454;
  }

  .api-detail {
    margin-bottom: 10px;
  }
}