.sidebar {
  .sidebar-footer {
    margin: 10px;
    font-size: 14px;
    margin-left: 16px;
    color: rgba(255, 255, 255, 0.8);
  }

  .list-items {
    overflow-x: hidden;
  }

  .nav-item .nav-link {
    padding-top: 30px;

    span {
      font-size: 1em;
    }
  }

  &.toggled .nav-item .nav-link {
    span {
      font-size: 0.875em;
    }
  }

  .nav-item > .provincial-usage {
    display: flex;
    align-items: center;
  }

  &.toggled .nav-item > .provincial-usage {
    display: block;
  }
}

.sidebar-toggled {
  .sidebar-footer {
    text-align: center;
  }
}
