.text-xs {
  font-size: 0.875em;
}

.h4 {
  font-size: 1.25em;
}

.h5 {
  font-size: 1em;
}

@media (min-width: 768px) {
  .sidebar {
    width: 13rem !important;
  }

  .sidebar,
  .sidebar .nav-item .nav-link {
    width: 13rem;
    padding-bottom: 0;
  }
}
