.text-xs {
  font-size: 0.5rem;
}

.h5 {
  font-size: 0.8rem;
}

@media (min-width: 768px) {
  .sidebar {
    width: 11rem !important;
  }

  .sidebar,
  .sidebar .nav-item .nav-link {
    width: 11rem;
    padding-bottom: 0;
  }
}
