.app-header {
  border-width: 0 0 1px;
  border-color: #ccc;
  border-style: solid;
  padding-bottom: 6px;
}

.audio-player-preview {
  height: 34px;
  max-width: 100%;
}

.pointer {
  cursor: pointer;
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 0;
}

.pagination {
  margin-top: 1.25rem;
  margin-bottom: 0;
}

.medium-width {
  width: 90%;
  margin: 0 auto;
}
