.app-header {
  border-width: 0 0 1px;
  border-color: #ccc;
  border-style: solid;
  padding-bottom: 6px;
}

.audio-player-preview {
  height: 34px;
}

.pointer {
  cursor: pointer;
}

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
  padding-left: 0;
  padding-top: 0;
}

.pagination {
  margin-top: 1.25rem;
  margin-bottom: 0;
}

.role-site_ombudsman {
  background-color: #d23528;
}

.role-site_admin {
  background-color: #b620e0;
}

.role-system_admin {
  background-color: #4e73df;
}
