#welcomes-index,
#listview-index {
  .nav-tabs .nav-link:focus,
  .ssb-icon:focus,
  .logo-link:focus {
    border-color: #bac8f3;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .text-intro {
    font-size: 1.3em;
  }

  #btn-search {
    align-self: flex-end;
  }

  // override select2 to fit height with bootstrap form-control
  .select2-selection__rendered {
    padding: 2px;
  }

  .select2-container--bootstrap .select2-selection--single {
    height: 38px;
  }

  .shadow {
    box-shadow: 1px 1px 1px rgba(204, 204,204,50%);
  }

  .branding-logo {
    height: 72px;
  }
  
  #logo-container {
    background: #002f6c;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 1px #cccccc24;
    padding: 15px;
  }
  
  #form-query {
    background-color: #FFF;
    transition: all 0.1s ease-in;

    &.highlight {
      color: #FFF;
      background-color: #002f6c;
    }
  }

  #logo-container,
  #form-query {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 999;
  }

  .modal-backdrop {
    z-index: 1000;
  }

  &.modal-open {
    padding: 0 !important;
  }

  canvas{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .switch-lang {
    z-index: 1000;
    top: 30px;
    right: 20px;

    @media (min-width: 992px) {
      &.inc-top {
        top: 5px;
      }
    }

    @media (min-width: 1370px) {
      &.inc-top {
        top: 48px;
      }
    }
  }

  #q_districts {
    position: relative;
    background-color: #FFF;
  }

  .fixed-lh-3 {
    line-height: 3em;
  }

  .tabs-container {
    min-height: 300px;
  }

  .secondary-branding-color {
    background-color: #ba0d2f;
    border-color: #ba0d2f;

    &:hover {
      background-color: #82071f;
      border-color: #82071f;
    }
  }

  .tab-navigation {
    top: 100px;
    padding-top: 15px;
    z-index: 996;
    background: white;

    @media (max-width: 992px) {
      top: 415px;
    }
  }

  .sidebar-left {
    position: fixed;
    top: 30%;
    padding-left: 5%;
    z-index: 1000;
    left: 0;
    transition: all 0.1s ease-in;
    text-align: center;

    @media (max-width: 576px) {
      padding-left: 0;
      left: -32px;
    }
  }

  abbr[title] {
    text-decoration: none;
    color: #e41010;
  }

  .period-filter {
    & + span .select2-selection.select2-selection--single {
      height: 25px;
      padding: 0 2em 0 0.5em;
    }
  }

  .card-subheader {
    font-size: small;
    line-height: 1em;
    display: block;
  }
  
  .location-title {
    line-height: 0.5em;

    .help-text {
      color: #616161;
      font-style: italic;
    }
  }

  .district-title {
    line-height: 0.5em;

    .help-text {
      color: #616161;
      font-style: italic;
    }
  }

  footer {
    background-color: #111;
    color: #777;
    padding: 30px 0;

    h6, p {
      font-size: 0.8em;
    }

    p {
      margin: 0;
    }
  }

  .social-share-button {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      display: block;
      margin-bottom: 8px;
      width: 36px;
      height: 36px;
      background-size: 36px;
      background-position: 0;
    }
  }

  .share-icon {
    font-size: 0.8em;
    display: inline-block;
    margin-bottom: 8px;
  }
  
  .chat-with-us {
    position: fixed;
    bottom: 19px;
    z-index: 999;
    right: 96px;
    background-color: #002f6c;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
  }

  // override recaptcha position
  .grecaptcha-badge {
    bottom: 24px !important;
    z-index: 9;
  }
}