#welcomes-index {
  .text-intro {
    font-size: 1.5em;
  }

  .branding-color {
    background-color: #002f6c;
  }

  .chart-dl, [data-toggle="modal"] {
    display: none;
  }
  
  #logo-container {
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgb(204, 204, 204);

    &.fixed-top {
      padding: 15px;
    }

    &.fixed-top + .container {
      margin-top: 138px;
    }
  }
  
  #form-query {
    background: #fff;

    &.fixed-top {
      top: 90px;
    }
  }
}