#welcomes-index {
  .logo-link:focus {
    border-color: #bac8f3;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .text-intro {
    font-size: 1.5em;
  }

  #btn-search {
    margin-bottom: 16px;
  }

  // override select2 to fit height with bootstrap form-control
  .select2-selection__rendered {
    padding: 2px;
  }

  .select2-container--bootstrap .select2-selection--single {
    height: 38px;
  }

  .chart-dl, [data-toggle="modal"] {
    display: none;
  }

  .shadow {
    box-shadow: 1px 1px 1px rgba(204, 204,204,50%);
  }
  
  #logo-container {
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 1px 1px 1px #cccccc24;
    padding: 15px;
  }
  
  #form-query {
    background-color: #FFF;
    transition: all 0.1s ease-in;

    &.highlight {
      color: #FFF;
      background-color: #002f6c;
    }
  }

  #logo-container,
  #form-query {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 999;
  }

  canvas{
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	.chart-container {
		width: 500px;
		margin-left: 40px;
		margin-right: 40px;
		margin-bottom: 40px;
	}
	.root-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
  }
  
  .switch-lang {
    z-index: 9999;
    top: 15px;
    right: 20px;
  }
}