@import "shared/styles";

@import "select2/dist/css/select2.min";
@import "select2-bootstrap-theme/dist/select2-bootstrap.min";

@import "startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min";
@import "sb-admin-webfonts-override";
@import "startbootstrap-sb-admin-2/css/sb-admin-2.min";
@import "flatpickr/dist/themes/material_blue";

@import "bootstrap-toggle/css/bootstrap-toggle";
@import "bootstrap-toggle-custom";
@import "base";
@import "responsive";
@import "share";
@import "showcase";

// Select One UI: Enhancement over default HTML radio button selection
@import "block-options";

@import "sb-admin-custom";
@import "sb-admin-sidebar";
@import "home";
@import "dashboard";
@import "tickets";
@import "dictionaries";
@import "switch";
@import "template";
@import "site_setting";
@import "settings";
@import "users";
@import "sites";
@import "topbar";
