$text-color: #333;

#dashboard-show {
  .cog {
    color: $text-color;

    &__most_request {
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }

  .config-modal__expand-list {
    margin: 0;
    font-size: 16px;
    color: $text-color;
  }

  input[type=radio] {
    vertical-align: middle;
  }

  #accordionExample.accordion {
    height: 450px;
    overflow-y: scroll;
  }

  .chartjs-line-legend {
    vertical-align: text-top;
    cursor: pointer;
    font-size: 12px;
    color: #656565;
    font-weight: 600;
  }

  .line-through {
    text-decoration: line-through;
  }

  // download chart
  .btn-chart__download {
    width: 20px;
  }

  .btn-chart__icon {
    color: $text-color;
  }

  .word-wrap-normal {
    word-wrap: normal;
  }

  .legend {
    position: absolute;
    left: 57px;
    top: 30px;

    .chartjs-line-legend {
      visibility: hidden;
    }
  }

  // total unique users icon
  .fa-male {
    @extend .fa-mars !optional;
  }

  .fa-female {
    @extend .fa-venus !optional;
  }

  .fa-other {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-image: image-url("lgbtq.png");
  }

  // decrease select2 size
  .period-filter + span .select2-selection {
    height: 25px;
    padding: 2px 2em 0 0.5em;
  }

  .group-chart {
    border: 1px solid #ddd;
    background-color: #ececec;
  }

  .group-chart__legend {
    width: auto;
    background: white;
    padding: 0 15px;
  }
}
