#dashboard-show {

  .cog {
    color: #333;

    &__most_request {
      position: absolute;
      top: 15px;
      right: 10px;
    }
  }

  .value-list {
    margin: 0;
    font-size: 16px;
    color: #333;
  }

  input[type=radio] {
    vertical-align: middle;
  }

  #accordionExample.accordion {
    height: 450px;
    overflow-y: scroll;
  }

  .oval {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 1px;
    margin-right: 7px;

    &--green {
      background-color: #1cc88a;
    }

    &--orange {
      background-color: #ffbc00;
    }

    &--yellow {
      background-color: #f63e3e;
    }
  }

  .oval-label {
    font-size: 17px;
    font-weight: 600;
    color: #5a5c69;
  }

  .oval-emoji {
    font-size: 21px;
    vertical-align: middle;
  }

  .oval-label-km {
    font-size: 16px;
    font-weight: normal;
    color: #5a5c69;
  }

  

  .rect {
    display:inline-block;
    width: 44px;
    height: 14px; 

    &__accessed {
      background-color: #ffbc00;
    }

    &__submitted {
      background-color: #4e73df;
    }
  }

  .chartjs-line-legend {
    vertical-align: text-top;
    cursor: pointer;
    font-size: 12px;
    color: #656565;
    font-weight: 600;
  }

  .line-through {
    text-decoration: line-through;
  }

  .chart-dl {
    width: 20px;

    i {
      color: #333;
    }
  }
  
  div.tooltip-inner {
    max-width: 250px;
  }

  .word-wrap-normal {
    word-wrap: normal;
  }

  .criteria-breadcrumb {
    position: absolute;
    bottom: 0
  }

  .legend {
    position: absolute;
    left: 57px;
    top: 30px;

    .rect, .chartjs-line-legend {
      visibility: hidden;
    }
  }

  .fa-male {
    @extend .fa-mars !optional;
  }

  .fa-female {
    @extend .fa-venus !optional;
  }

  .fa-other {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-image: image-url("lgbtq.png");
  }

  // decrease select2 size
  .period-filter,
  .access-period,
  .track-period {
    & + span .select2-selection.select2-selection--single {
      height: 25px;
      padding: 0 2em 0 0.5em;
    }
  }

  .group-chart {
    border: 1px solid #ddd;
    background-color: #ececec;

    legend {
      width: auto;
      background: white;
      padding: 0 15px;
    }
  }
}
