#dictionaries-update,
#dictionaries-index {
  .subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
  }

  .invalid-message {
    margin-top: .25rem;
    font-size: 80%;
    color: #e74a3b;
  }

  .table td {
    padding: 0.5rem;
    vertical-align: middle;
  }

  .table td,
  .table th,
  .search-label {
    font-size: 1em;
  }

  .search-label {
    font-weight: 600;
  }

  .dict-list {
    float: left;
  }

  .dict-item {
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    padding-right: 20px;
  }

  .result-map {
    float: left;
    min-height: 380px;
    min-width: 689px;
    background-color: #e6e6e6;
  }

  .rating {
    td {
      text-align: center;
      padding: 0 15px;
      border: 0;
     }
  }

  .arrow-shape {
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    position: absolute;
    right: 0;

    &__top {
      border-top: 22px solid white;
      top: 0;
    }

    &__bottom {
      border-bottom: 22px solid white;
    bottom: 0;
    }
  }

}

#dictionaries-edit,
#dictionaries-update {
  table.rate td {
    padding: 0;
    border: 0;
    text-align: center;
  }

  th {
    font-size: 0.8em;
  }

  .permission-title {
    font-weight: bold;
    font-size: 1em;
  }

  .custom-checkbox .custom-control-label::before {
    border-radius: .25rem;
  }

  .form-group {
    margin-bottom: 0;
  }

  table.rate {
    th, td {
      padding: 0;
      margin: 0;
      border-collapse: collapse;
      line-height: 1em;
    }
  }

  tfoot {
    border-bottom: 1px solid #dddfeb;
  }

  .item {
    min-width: 140px;
    margin-right: 15px;
    border: 2px solid #b7b7b7;
    border-radius: 4px;
    padding: 10px;
    transition: all 0.1s ease-out;
    color: #545454;

    &:hover:not(.disabled) {
      border-color: #3f51b5;
      background-color: #eaeaea;
      cursor: pointer;
    }

    &.disabled {
      color: #d2d2d2;
      border-color: #eaeaea;
    }

    input {
      display: none;
    }
  }

  .status-text {
    line-height: 2em;
    font-size: 1em;
  }

  .mark_as_active {
    border-color: #3f51b5;
    background-color: #eaeaea;
  }
}
