#dictionaries-index {
  .dict-list {
    float: left;
  }

  .dict-item {
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    padding-right: 20px;
  }

  .result-map {
    float: left;
    min-height: 380px;
    min-width: 689px;
    background-color: #e6e6e6;
  }

  .active {
    // background-color: #e6e6e6;
  }

  .arrow-shape {
    width: 0;
    height: 0;
    border-left: 22px solid transparent;
    position: absolute;
    right: 0;

    &__top {
      border-top: 22px solid white;
      top: 0;
    }

    &__bottom {
      border-bottom: 22px solid white;
    bottom: 0;
    }
  }
}
