#homes-show {
  th {
    font-size: 0.8em;
    vertical-align: middle;
    text-align: center;
  }

  td {
    font-size: 0.7em;
  }

  .empty {
    & > img {
      width: 400px;
    }
  }
}

#home-index {
  .timeago {
    cursor: pointer;
  }

  @media(max-width: $extra-small-screen) {
    .province__select-option,
    .date-filter__choose-option {
      max-width: 230.25px;
    }
  }
}
