#homes-show {
  th {
    font-size: 0.8em;
    vertical-align: middle;
    text-align: center;
  }

  td {
    font-size: 0.7em;
  }

  .empty {
    & > img {
      width: 400px;
    }
  }

  .platform-list {
    border-bottom: 1px solid #ccc;
    max-width: 60%;
    
    .list-inline-item:not(:last-child) {
      margin-right: 1.5em;
    }

    .active {
      border-bottom: 3px solid #496edc;
    }
  }

  .province__select-option {
    display: inline;
    padding: 3px;
    background-color: white;
    border: 1px solid #efefef;
    border-radius: 7px;
    margin-right: 2em;
  }

  .date-filter__choose-option input {
    border: 1px solid #efefef;
    border-radius: 7px;
  }
}
