@import url("https://fonts.googleapis.com/css2?family=Hanuman:wght@400;700&display=swap");
@import "quill/dist/quill.core";
@import "quill/dist/quill.snow";
@import "bootstrap/scss/bootstrap";

canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

// override quill that reserve invisible card header
* {
  white-space: normal;
}

div.alwaysbreak {
  page-break-before: always;
}
div.nobreak:before {
  clear: both;
}
div.nobreak {
  page-break-inside: avoid;
}

body {
  font-family: "Nunito", "Hanuman", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
