@import "shared/styles";

// override quill that reserve invisible card header
* {
  white-space: normal;
}

div.alwaysbreak {
  page-break-before: always;
}
div.nobreak:before {
  clear: both;
}
div.nobreak {
  page-break-inside: avoid;
}

body {
  font-family: "Nunito", "Hanuman", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
