#sites-index {
  .accordion-body {
    background-color: #f7f7f7;
    color: #5a5c69;
  }

  .col-no {
    width: 7%;
  }

  @media (max-width: 590px) {
    .form-group span {
      display: none !important;
    }
  }

  @media (max-width: 930px) {
    .form-wrap {
      flex-direction: column;
    }

    .actions {
      margin-top: 15px;
      align-self: flex-end;
    }
  }
}
