#sites-index {
  .accordion-body {
    background-color: #f7f7f7;
    color: #5a5c69;
  }

  .col-no {
    width: 7%;
  }

  .popover {
    max-width: 360px;
  }

  .popover-body {
    color: #212529;
  }

  .sync-status {
    display: inline-flex;
    width: 50px;
  }
}
