#templates-index {
  .text-header {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 0.8rem;
    color: #5a5c69;
  }

  .platform-name {
    color: #5a5c69;
    font-size: 0.8rem;
  }

  .btn-small {
    height: 1.5rem;
    width: 1rem;
    font-size: 0.55rem;

    &.btn-danger {
      background-color: #d23528;
      border-color: #d23528;
    }
  }


}
