#templates-index {
  .text-header {
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 0.8rem;
    color: #5a5c69;
  }

  .platform-name {
    color: #5a5c69;
    font-size: 0.8rem;
  }

  #audio-name {
    font-size: 16px;
    color: #9a9a9a;
    font-style: italic;
    text-decoration: underline;
  }

  .btn-small {
    height: 1.5rem;
    width: 1rem;
    font-size: 0.55rem;

    &.btn-danger {
      background-color: #d23528;
      border-color: #d23528;
    }
  }

  .modal-title {
    margin-top: 7px;
    font-weight: 600;
    font-size: 20px;
    color: #5a5c69;
  }

  .modal-header {
    padding: 0.5rem 1rem;
  }

  .btn-choose-file {
    border-radius: 4px;
    border: solid 1px #dddfeb;
    background-color: #dfdfdf;
    color: #5a5c69;
  }

  .form-label {
    font-size: 1em;
    color: #5a5c69;
    font-weight: bold;

    abbr {
      display: none;
    }
  }

  .status-text {
    font-size: 16px;
    color: #5a5c69;
  }

  .item {
    border: 1px solid transparent;
    min-width: 120px;
    border-radius: 4px;
    transition: all 0.4s;
    cursor: pointer;

    &:hover {
      border-color: #5a5c69;
    }
  }

  .fail-validation {
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #e74a3b;
  }

  .card-body .truncate-content {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .crop-height {
    display: flex;
    align-items: center;

    img {
      width: 100%;
      height: auto;
    }
  }

  .crop-width {
    display: flex;
    justify-content: center;

    img {
      width: auto;
      height: 100%;
    }
  }

  .image-wrapper {
    height: 150px;
    overflow: hidden;
  }

  .image-preview-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 1px solid #eee;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .btn-delete {
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
  }

  .messenger {
    .preview-template-wrapper {
      img {
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 22px 22px 22px 3px;
      }

      .reaction-wrapper {
        bottom: -10px;
        padding: 0 2px;
        position: absolute;
        right: 0;
        text-align: right;
        z-index: 2;
      }

      .reaction {
        align-items: center;
        background: #fff;
        border-radius: 10px;
        bottom: -15px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
        color: #626262;
        display: flex;
        justify-content: center;
        padding: 3px 9px;
      }

      i {
        color: rgba(0, 0, 0, 0.1);
      }
    }

    .content {
      padding: 6px 12px 7px 12px;
      background-color: #f1f0f0;
      border-radius: 4px 19.5px 19.5px 4px;
      max-width: 80%;
    }

    .preview-modal-dialog {
      min-width: 600px;
    }
  }

  .block-option .block-option--item {
    width: 140px;
  }
}
