.topbar .dropdown-list,
.locale-dropdown {
  width: 160px !important;
}

.locale-dropdown__link {
  height: 46px;
}

.locale-dropdown__image_wrapper {
  height: 1.6rem;
  width: 1.6rem;
}

.locale-dropdown__image {
  height: 1.6rem;
  width: 1.6rem;
}
