= render( ChartComponent.new(name: title) ) do |c|
  - c.with(:subheader) do
    %span{ data: { toggle: "tooltip", title: full_district_list_name } }
      = show_location_detail
    &middot;
    = link_to t("sites.view_detail"), "#", id: "link-view-detail", name: "link_view_detail", role: "link", data: { toggle: "modal", target: "#popup", size: "modal-lg", title: t("sites.sub_category_detail", province: @location_filter.province_name(:short)), element: ".sub_categories", callback: "loadSubCategories" }
  - c.with(:body) { content_tag(:canvas, nil, id: id) }
  - c.with(:hint) { t("hint.feedback_by_sub_categories") }