.container
  .row
    .col-12
      %section.card.p-3.mt-5
        %h1 Developer Guide
        %p OWSO provides you many UI style that you can use to embed into your website.

      %section.card.p-3.mt-3
        %h3 Desktop view
        .row
          .col-xs-12.col-md-7.mb-3
            %h5 Embeded Code
            .input-group
              - code = "<iframe src=\"#{ENV['BASE_URL']}/reports\" style='width: 100%; height: 600px; border: 0;'></iframe>"
              %input.code.form-control{ type: 'text', value: code }
              .input-group-append
                .input-group-text.js-copy{ data: { copy: code, toggle: 'tooltip', placement: 'bottom' }, title: 'Copy to clipboard'}
                  %i.fa.fa-copy

          .col-xs-12.col-md-5
            %h5 Sample preview
            = image_tag 'desktop-view.png', class: 'img-fluid'
