= line_chart @goals.map { |goal|                      |                                        
      { name: goal.name, data: goal.data }   |
    }, download: {background: "#ffffff"}, messages: {empty: "No data"}                                            |