= simple_form_for :datepicker, method: :get, inline: true do |f|
  .input-group
    = f.input_field :date, name: "dates", class: "form-control datepicker_date", value: params["dates"]
    .input-group-append
      %button.btn.btn-primary{:type => "submit"}
        %i.fa.fa-search