= pie_chart Step.group_by_day(:created_at).count
= simple_form_for :datepicker, url: '#' do |f|
  = f.input :date, input_html: { name: 'dates' }, as: :string
= line_chart @goals.map { |goal|                      |                                        
      { name: goal.name, data: goal.group_by_day(:created_at).count}   |
    }                                               |