= line_chart Step.group_by_day(:created_at).count
= line_chart @goals.map { |goal|   |                                        
      {name: goal.name, data: goal.group_by_day(:created_at).count}       |
  }                                                                        |